streamlit==1.45.1
python-dotenv
google-generativeai==0.7.2
pycryptodome>=3.4.3
firebase-admin
python-jwt>=4.0.0
requests>=2.32.0
google-auth>=2.23.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
